<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<meta charset="UTF-8"/>
<title>Create Event</title>
<body class="container">

<header th:replace="fragments :: header"></header>
<h1>Create Event</h1>

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <input type="text" name="eventName" class="form-control"></label>l</div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success"></div>
</form>
</body>
</html>
