<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<!--<meta charset="UTF-8"/>-->
<!--<title>Create Event</title>-->
<body class="container">

<header th:replace="fragments :: header"></header>
<form method="post">

        <th:block th:each="event : ${events}">
            <div class="form-group">
        <label>
            <span th:text="${event.name}"></span>
            <input type="checkbox" name="eventIDs" th:value="${event.id}" class="form-control">
        </label>
            </div>
    </th:block>


        <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>