<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" th:href="styles.css">
</head>
<body>
<h1>All Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.key}"></td>
            <td th:text="${event.value}"></td>
            <td><div th:replace="fragments::address"></div></td>
        </tr>
    </th:block>
</table>
</body>
</html>
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->

<!--<header th:replace="fragments :: header"></header>-->
<!--&lt;!&ndash;p th:unless="${events} and ${events.size()}">No events!</p&ndash;&gt;-->
<!--<table  class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tr th:each="event : ${events}">-->
<!--        <td th:text="${event}"></td>-->
<!--    </tr>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->